.matrix__features-container__feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

.matrix__features-container__feature-title{
    color: #808080;
    max-width: 180px;
    margin-right: 2rem;
}

.matrix__features-container__feature-title h1{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height:24px ;
    letter-spacing: -0.04rem ;
    color: #008F11;
}

.matrix__features-container__feature-title div{
    width: 38px;
    height: 3px;
    background: #008F11 ;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) ;
    color: #808080;
    margin-bottom: 0.25rem;
}

.matrix__features-container__feature-text{
    flex: 2;
    min-width: 390px;
    display: flex;
}

.matrix__features-container_feature-text p{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

@media screen and (max-width: 550px) {
    .matrix__features-container__feature-title h1{
        font-size: 14px;
        line-height: 22px;
    }
    matrix__features-container__feature-title p{
        font-size: 12px;
        line-height: 20px;
    }

    .matrix__features-container__feature{
        margin: 1rem 0;
    }
}


