.matrix__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.matrix__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.matrix__navbar-links-logo{
    margin-right: 2rem;
}


.logo-matrix{
     width: 100px;
    height: 100px;
}

.matrix__navbar-links-container{
    display: flex;
    flex-direction: row;
    
    p{
        color: #003B00;
    }
}

.matrix__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.matrix__navbar-links-container p,
.matrix__navbar-sign p,
.matrix__navbar-menu-container p{
    color: #003B00;
    font-family:'Manrope', sans-serif ;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;

}

.matrix__navbar-sign button, .matrix__navbar-menu-container button{
    padding: 0.5rem 1rem;
    background: #0D0208;
    border-radius: 5px;
    color: #fff;
    font-family: 'Manrope', sans-serif ;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
}

